#edit_modal .row:not(:first-child) {
    margin-top: 10px;
}

.table-wrapper {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
    white-space: nowrap;
}

    .table-wrapper td {
        vertical-align: middle;
        max-width: 190px;
    }

    .table-wrapper td, .table-wrapper th {
        border-top: 0;
    }

        .table-wrapper td .filter-option-inner-inner {
            text-overflow: ellipsis;
        }

        .table-wrapper tr td:last-child {
            text-align: center;
        }

    .table-wrapper td:first-child {
        min-width: 300px;
        /* max-width: 450px; */
    }

            .table-wrapper td:first-child span {
                white-space: break-spaces;
            }

    .table-wrapper > div {
        overflow-x: auto;
    }

    .table-wrapper .table {
        margin-bottom: 0;
    }

tr.submit-form {
    background-color: #212529 !important;
}

    tr.submit-form td {
        padding: 0;
    }

    tr.submit-form button {
        border-radius: 0;
        padding: 0.75rem;
    }

.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
}

input[name*="-code"], input[name$="-nomenclature"] {
    display: none;
}

.checkbox-wrapper * {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.checkbox-wrapper input {
    height: 1.5rem;
    width: 1.5rem;
}